.screen-reader-title {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
}

#low-poly-canvas {
  background-color: darkmagenta;
  border: none;
  display: block;
  height: auto;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100vw;
}
